:root{
    --blue: rgb(22, 22, 190);
    --lightblue:  rgb(112, 157, 172);
}

.my-search{
    height: 350px;
    border: dashed 2px #eee;
    padding-right: 1em;
}

.my-current{
    height: 250px;
}

.my-card{
    height: 200px;
    margin-top: 10%;
    margin-right:2%;
    background-image: linear-gradient(to bottom right, lightgrey, lavender);
}

.my-last-card{
    height: 200px;
    margin-top: 10%;
    background-image: linear-gradient(to bottom right, lightgrey, lavender);
}

.my-img{
    height: 2em;
    width: 2em;
}

.my-header-style{
    font-size: xx-large;
}

.my-list{
    font-size: x-large;
}

.my-5day{
    font-size: x-large;
    margin-left: .25em;
    padding: .5em;
    background: #f0d9ff;
}

.list {
    font-size: smaller;
}

.width-change{
    width: 10%;
}

li {
    margin: .5em 0;
}

.low{
    background: green;
    color: whitesmoke;
}

.moderate{
    background: yellow;
}

.high{
    background: orange;
    color: whitesmoke;
}

.veryHigh{
    background: red;
    color: whitesmoke;
}

.extreme{
    background: purple;
    color: whitesmoke;
}